In [105]:
import pandas as pd

d1 = pd.read_csv("constituency_wise_results_2014.csv")
d2 = pd.read_csv("constituency_wise_results_2019.csv")
d3 = pd.read_csv("dim_states_codes.csv")

In [2]:
d1.head()

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282

In [3]:
d1.describe()

               age  general_votes  postal_votes    total_votes  total_electors
count  7845.000000    8355.000000   8355.000000    8355.000000    8.355000e+03
mean     47.135883   62132.985398    107.407660   62240.393058    1.574132e+06
std      11.902487  140261.650370    436.090305  140535.827087    2.711797e+05
min      25.000000     105.000000      0.000000     105.000000    4.992200e+04
25%      38.000000    1708.000000      0.000000    1708.500000    1.446478e+06
50%      46.000000    4350.000000      1.000000    4354.000000    1.578125e+06
75%      56.000000   14881.000000     13.000000   14886.000000    1.718414e+06
max      93.000000  859973.000000   6792.000000  863358.000000    3.183083e+06

In [4]:
d1['party'].value_counts()

party
IND      3096
NOTA      511
BSP       471
INC       432
AAAP      404
         ...
APM         1
NaLP        1
KS          1
ADSMK       1
AINRC       1
Name: count, Length: 453, dtype: int64

In [5]:
d1.size

100260

In [6]:
d1.shape

(8355, 12)

In [7]:
d1.tail()

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357

In [8]:
8355*12

100260

In [9]:
d1['total_electors'].value_counts()

total_electors
1795776    43
1766487    43
1517606    42
1422392    41
1792652    40
           ..
1536305     5
702170      4
1182972     4
312704      4
586501      3
Name: count, Length: 510, dtype: int64

In [10]:
d1['sex'].isna().sum()

510

In [11]:
d1['sex'].value_counts()

sex
M    7209
F     630
O       6
Name: count, dtype: int64

In [12]:
d1['category'].isna().sum()

510

In [13]:
d1['party'].isna().sum()

0

In [14]:
d1['candidate'].isna().sum()

0

In [15]:
d1['state'].isna().sum()

0

In [16]:
d1['pc_name'].isna().sum()

0

In [17]:
d1['party_symbol'].isna().sum()

0

In [18]:
d1['general_votes'].isna().sum()

0

In [19]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8355 entries, 0 to 8354
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           8355 non-null   object
 1   pc_name         8355 non-null   object
 2   candidate       8355 non-null   object
 3   sex             7845 non-null   object
 4   age             7845 non-null   float64
 5   category        7845 non-null   object
 6   party           8355 non-null   object
 7   party_symbol    8355 non-null   object
 8   general_votes   8355 non-null   int64
 9   postal_votes    8355 non-null   int64
 10  total_votes     8355 non-null   int64
 11  total_electors  8355 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 783.4+ KB

In [20]:
cnt = d1[d1['state'] == 'Andhra Pradesh']['pc_name'].value_counts()

In [21]:
sorted = cnt.sort_index()

In [22]:
sorted

pc_name
Adilabad           9
Amalapuram        15
Anakapalli         9
Anantapur         14
Aruku             12
Bapatla           15
Bhongir           14
CHELVELLA         16
Chittoor           8
Eluru             16
Guntur            13
Hindupur          13
Hyderabad         17
Kadapa            15
Kakinada          23
Karimnagar        18
Khammam           28
Kurnool           13
Machilipatnam     12
Mahabubabad       18
Mahbubnagar       10
Malkajgiri        31
Medak             14
Nagarkurnool       7
Nalgonda          10
Nandyal           15
Narasaraopet      12
Narsapuram        15
Nellore           15
Nizamabad         17
Ongole            16
Peddapalle        18
Rajahmundry       15
Rajampet          10
Secundrabad       31
Srikakulam        11
Tirupati          15
Vijayawada        23
Visakhapatnam     23
Vizianagaram      10
Warangal          13
Zahirabad         11
Name: count, dtype: int64

In [23]:
d1['state'].value_counts()

state
Uttar Pradesh                1368
Maharashtra                   945
Tamil Nadu                    884
Bihar                         647
Andhra Pradesh                640
West Bengal                   514
Karnataka                     462
Madhya Pradesh                407
Gujarat                       360
Rajasthan                     345
Kerala                        289
Punjab                        266
Jharkhand                     254
Haryana                       240
Assam                         176
NCT OF Delhi                  157
Jammu & Kashmir                83
Uttarakhand                    79
Himachal Pradesh               42
Puducherry                     31
Tripura                        27
Goa                            21
Manipur                        20
Chandigarh                     18
Andaman & Nicobar Islands      16
Arunachal Pradesh              13
Meghalaya                      12
Dadra & Nagar Haveli           12
Sikkim                          7
Lakshadweep                     7
Daman & Diu                     5
Mizoram                         4
Nagaland                        4
Name: count, dtype: int64

In [24]:
cnt = d1[d1['state'] == 'Uttar Pradesh']['pc_name'].value_counts()
sorted = cnt.sort_index()
len(sorted)
sorted

pc_name
Agra              16
Akbarpur          19
Aligarh           15
Allahabad         24
Ambedkar Nagar    15
                  ..
Shrawasti         15
Sitapur           17
Sultanpur         16
Unnao             22
Varanasi          43
Name: count, Length: 80, dtype: int64

In [25]:
num = d1['pc_name'].value_counts()
len(num)

508

In [26]:
state_constituency_conflicts = d1.groupby('pc_name')['state'].nunique()
conflict_constituencies = state_constituency_conflicts[state_constituency_conflicts>1]
state_constituency_conflicts
conflict_constituencies

pc_name
Aurangabad     2
Hamirpur       2
Maharajganj    2
Name: state, dtype: int64

In [27]:
filtered_d1 = d1[d1['pc_name'] == 'Aurangabad']
filtered_d1

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
1418,Bihar,Aurangabad,NIKHIL KUMAR,M,72.0,GEN,INC,Hand,241433,161,241594,1536153
1419,Bihar,Aurangabad,BAGI KUMAR VERMA,M,42.0,GEN,JD(U),Arrow,136045,92,136137,1536153
1420,Bihar,Aurangabad,SANTOSH KUMAR,M,45.0,GEN,BSP,Elephant,27818,15,27833,1536153
1421,Bihar,Aurangabad,SUSHIL KUMAR SINGH,M,48.0,GEN,BJP,Lotus,307605,336,307941,1536153
1422,Bihar,Aurangabad,UPENDRA NATH,M,46.0,GEN,BMUP,Cot,9253,2,9255,1536153
1423,Bihar,Aurangabad,USHA SHARAN,F,43.0,GEN,SSD,Saw,4608,0,4608,1536153
1424,Bihar,Aurangabad,RAGINI LATA SINGH,F,49.0,GEN,AAAP,Broom,6699,4,6703,1536153
1425,Bihar,Aurangabad,RITA DEVI,F,43.0,GEN,SP,Bicycle,3332,1,3333,1536153
1426,Bihar,Aurangabad,DURGA THAKUR,M,55.0,GEN,IND,Scissors,3696,0,3696,1536153
1427,Bihar,Aurangabad,RAKESH SHARMA,M,42.0,GEN,IND,Almirah,5726,0,5726,1536153
1428,Bihar,Aurangabad,RAMJI SINGH,M,45.0,GEN,IND,Air Conditioner,7195,0,7195,1536153
1429,Bihar,Aurangabad,BIJEET KUMAR,M,29.0,GEN,IND,Auto- Rickshaw,6121,0,6121,1536153
1430,Bihar,Aurangabad,SOMARU PASWAN,M,58.0,SC,IND,Balloon,8678,0,8678,1536153
1431,Bihar,Aurangabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,17454,0,17454,1536153
3755,Maharashtra,Aurangabad,CHANDRAKANT BHAURAO KHAIRE,M,62.0,GEN,SHS,Bow & Arrow,520559,343,520902,1589395
3756,Maharashtra,Aurangabad,JEVRIKAR INDRAKUMAR DNYANOBA,M,40.0,SC,BSP,Elephant,37412,7,37419,1589395
3757,Maharashtra,Aurangabad,PATIL NITIN SURESH,M,44.0,GEN,INC,Hand,358812,90,358902,1589395
3758,Maharashtra,Aurangabad,ABDUL KHUDUS ABDUL SAMAD SHAIKH,M,32.0,GEN,BMUP,Cot,3774,1,3775,1589395
3759,Maharashtra,Aurangabad,JADHAV PUSHPA SHANTILAL,F,40.0,SC,ANC,Bat,1037,1,1038,1589395
3760,Maharashtra,Aurangabad,BANSWAL MANNALAL PREMCHAND,M,47.0,SC,PRCP,Whistle,893,0,893,1589395
3761,Maharashtra,Aurangabad,MOHMMAD KISMATWALA KASIM KISMATWALA,M,37.0,GEN,GaAP,Iron,1198,3,1201,1589395
3762,Maharashtra,Aurangabad,GAYAKE SADASHIV AMBADAS,M,64.0,GEN,SP,Bicycle,2646,0,2646,1589395
3763,Maharashtra,Aurangabad,SAYYAD SHAFIYODDIN VAHIYODDIN,M,46.0,GEN,WPOI,Kite,2885,0,2885,1589395
3764,Maharashtra,Aurangabad,SUBHASH KALYANRAO LOMTE,M,62.0,GEN,AAAP,Broom,11969,5,11974,1589395
3765,Maharashtra,Aurangabad,AHAMAD AZIZ AHAMAD MATEEN,M,53.0,GEN,IND,Auto- Rickshaw,1572,0,1572,1589395
3766,Maharashtra,Aurangabad,BANSODE UDHAV GOVARDHAN,M,31.0,SC,IND,Cup & Saucer,1795,0,1795,1589395
3767,Maharashtra,Aurangabad,ANKUSH MUNJAJI TUPSAMUNDRE,M,39.0,SC,IND,Pen Nib with Seven Rays,2019,0,2019,1589395
3768,Maharashtra,Aurangabad,KAILAS CHANDRABHAN THENGDE,M,36.0,GEN,IND,Dolli,2123,0,2123,1589395
3769,Maharashtra,Aurangabad,JAGDIP VISHWANATH SHINDE,M,31.0,SC,IND,Air Conditioner,1530,0,1530,1589395
3770,Maharashtra,Aurangabad,TRIBHUVAN MADHUKAR PADMAKAR,M,45.0,SC,IND,Almirah,6135,0,6135,1589395
3771,Maharashtra,Aurangabad,DANDGE NANASAHEB DAMODHAR,M,44.0,SC,IND,Sewing Machine,5901,0,5901,1589395
3772,Maharashtra,Aurangabad,NADEEM RANA,M,40.0,GEN,IND,Ceiling Fan,2922,0,2922,1589395
3773,Maharashtra,Aurangabad,PHULARE SURESH ASARAM,M,33.0,GEN,IND,Hat,2520,0,2520,1589395
3774,Maharashtra,Aurangabad,DR. FEROZ KHAN MURTUZA KHAN,M,44.0,GEN,IND,Balloon,978,0,978,1589395
3775,Maharashtra,Aurangabad,BALASAHEB ASARAM SARATE,M,45.0,GEN,IND,Coconut,880,0,880,1589395
3776,Maharashtra,Aurangabad,BALASAHEB VITTHAL AWARE,M,49.0,GEN,IND,Gas Cylinder,614,0,614,1589395
3777,Maharashtra,Aurangabad,JAWAHARLAL LAXMAN BHAGURE,M,30.0,SC,IND,Television,877,1,878,1589395
3778,Maharashtra,Aurangabad,BHANUDAS RAMDAS SARODE,M,39.0,GEN,IND,Electric Pole,934,0,934,1589395
3779,Maharashtra,Aurangabad,RAJU BABURAO DOLE,M,44.0,GEN,IND,Pressure Cooker,1238,0,1238,1589395
3780,Maharashtra,Aurangabad,NANDARKAR VISHAL UDDHAV,M,29.0,GEN,IND,Green Chilli,1306,0,1306,1589395
3781,Maharashtra,Aurangabad,SHAIK SAYYAD SHAIK MAHMOOD,M,33.0,GEN,IND,Candles,1581,0,1581,1589395
3782,Maharashtra,Aurangabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,6370,2,6372,1589395

In [28]:
filtered_d1 = d1[d1['pc_name'] == 'Hamirpur']
filtered_d1

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
2120,Himachal Pradesh,Hamirpur,ANURAG SINGH THAKUR,M,39.0,GEN,BJP,Lotus,446755,1280,448035,1247699
2121,Himachal Pradesh,Hamirpur,RAKESH CHOUDHARY,M,38.0,GEN,BSP,Elephant,5821,6,5827,1247699
2122,Himachal Pradesh,Hamirpur,RAJINDER SINGH RANA,M,48.0,GEN,INC,Hand,348871,761,349632,1247699
2123,Himachal Pradesh,Hamirpur,URMILA SHARMA,F,58.0,GEN,SP,Bicycle,2327,1,2328,1247699
2124,Himachal Pradesh,Hamirpur,KAMAL KANTA BATRA,F,69.0,GEN,AAAP,Broom,15281,48,15329,1247699
2125,Himachal Pradesh,Hamirpur,SHIV DUTT VASISHT,M,61.0,GEN,SHS,Bow & Arrow,952,0,952,1247699
2126,Himachal Pradesh,Hamirpur,AMIN CHAND,M,55.0,SC,IND,Telephone,646,1,647,1247699
2127,Himachal Pradesh,Hamirpur,ASHISH KUMAR,M,34.0,GEN,IND,Almirah,603,0,603,1247699
2128,Himachal Pradesh,Hamirpur,DEV RAJ BHARDWAJ,M,61.0,GEN,IND,Coconut,1690,2,1692,1247699
2129,Himachal Pradesh,Hamirpur,RAJINDER SINGH RANA,M,47.0,GEN,IND,Sewing Machine,3677,10,3687,1247699
2130,Himachal Pradesh,Hamirpur,None of the Above,NaN,NaN,NaN,NOTA,NOTA,6464,9,6473,1247699
6665,Uttar Pradesh,Hamirpur,KUNWAR PUSHPENDRA SINGH CHANDEL,M,40.0,GEN,BJP,Lotus,453866,18,453884,1737993
6666,Uttar Pradesh,Hamirpur,"PRITAM SINGH LODHI ""KISAAN""",M,44.0,GEN,INC,Hand,78229,0,78229,1737993
6667,Uttar Pradesh,Hamirpur,BISHAMBHAR PRASAD NISHAD,M,51.0,GEN,SP,Bicycle,187095,1,187096,1737993
6668,Uttar Pradesh,Hamirpur,RAKESH KUMAR GOSWAMI,M,60.0,GEN,BSP,Elephant,176355,1,176356,1737993
6669,Uttar Pradesh,Hamirpur,ATUL KUMAR PRAJAPATI,M,31.0,GEN,AAAP,Broom,9662,1,9663,1737993
6670,Uttar Pradesh,Hamirpur,ANIL KUMAR,M,35.0,SC,ASP,Frock,4860,0,4860,1737993
6671,Uttar Pradesh,Hamirpur,AVINASH KUMAR MISHRA,M,57.0,GEN,AITC,Flowers and Grass,6297,0,6297,1737993
6672,Uttar Pradesh,Hamirpur,KAILASH PRASAD NISHAD,M,28.0,GEN,EKSP,Walking Stick,1756,0,1756,1737993
6673,Uttar Pradesh,Hamirpur,RAMESH PRAJAPATI,M,37.0,GEN,MBCOI,Scissors,2981,0,2981,1737993
6674,Uttar Pradesh,Hamirpur,RAMSAJIVAN,M,52.0,GEN,BSCP,FLUTE,2955,0,2955,1737993
6675,Uttar Pradesh,Hamirpur,VIVEK KUMAR,M,36.0,GEN,RKSP,Auto- Rickshaw,5749,0,5749,1737993
6676,Uttar Pradesh,Hamirpur,SHRIPAL,M,51.0,GEN,BC,Glass Tumbler,3435,0,3435,1737993
6677,Uttar Pradesh,Hamirpur,KIRAN,F,34.0,GEN,IND,Kite,4079,0,4079,1737993
6678,Uttar Pradesh,Hamirpur,PRAVESH KUMAR VYAS,M,28.0,GEN,IND,Razor,4314,0,4314,1737993
6679,Uttar Pradesh,Hamirpur,VIMLESH,F,42.0,GEN,IND,Cot,23137,0,23137,1737993
6680,Uttar Pradesh,Hamirpur,None of the Above,NaN,NaN,NaN,NOTA,NOTA,10449,0,10449,1737993

In [29]:
filtered_d1 = d1[d1['pc_name'] == 'Maharajganj']
filtered_d1

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
1130,Bihar,Maharajganj,"JANARDAN SINGH ""SIGRIWAL""",M,50.0,GEN,BJP,Lotus,320645,108,320753,1642068
1131,Bihar,Maharajganj,NAGENDRA PRASAD,M,49.0,GEN,BSP,Elephant,11187,2,11189,1642068
1132,Bihar,Maharajganj,PRABHU NATH SINGH,M,61.0,GEN,RJD,Hurricane Lamp,282171,167,282338,1642068
1133,Bihar,Maharajganj,MANORANJAN SINGH,M,54.0,GEN,JD(U),Arrow,149436,47,149483,1642068
1134,Bihar,Maharajganj,BYAS MANJHI,M,43.0,SC,BMUP,Cot,4796,0,4796,1642068
1135,Bihar,Maharajganj,RINA RANI,F,40.0,GEN,AAAP,Broom,6429,1,6430,1642068
1136,Bihar,Maharajganj,UMASHANKAR TIWARI,M,38.0,GEN,IND,Cauliflower,11598,1,11599,1642068
1137,Bihar,Maharajganj,DR. GOPAL PRASAD,M,63.0,GEN,IND,Bat,10601,1,10602,1642068
1138,Bihar,Maharajganj,BRINDA PATHAK,M,68.0,GEN,IND,Kite,17186,0,17186,1642068
1139,Bihar,Maharajganj,SHIV NATH MAHTO,M,57.0,GEN,IND,Coconut,8874,0,8874,1642068
1140,Bihar,Maharajganj,None of the Above,NaN,NaN,NaN,NOTA,NOTA,23404,0,23404,1642068
6919,Uttar Pradesh,Maharajganj,AKHILESH,M,50.0,GEN,SP,Bicycle,213973,1,213974,1743131
6920,Uttar Pradesh,Maharajganj,KASHI NATH SHUKLA,M,59.0,GEN,BSP,Elephant,231084,0,231084,1743131
6921,Uttar Pradesh,Maharajganj,PANKAJ,M,44.0,GEN,BJP,Lotus,471541,1,471542,1743131
6922,Uttar Pradesh,Maharajganj,HARSH VARDHAN,M,66.0,GEN,INC,Hand,57193,0,57193,1743131
6923,Uttar Pradesh,Maharajganj,ARAT KHARVAR,M,48.0,GEN,BMUP,Cot,3752,0,3752,1743131
6924,Uttar Pradesh,Maharajganj,KAVILAS,M,35.0,GEN,SBSP,Ring,5195,0,5195,1743131
6925,Uttar Pradesh,Maharajganj,MUMMATAJ,M,34.0,GEN,PECP,Ceiling Fan,3582,0,3582,1743131
6926,Uttar Pradesh,Maharajganj,MANGAL LAL,M,69.0,GEN,LD,Battery Torch,1491,0,1491,1743131
6927,Uttar Pradesh,Maharajganj,PASHUPATI NATH GUPTA,M,55.0,GEN,AAAP,Broom,3196,0,3196,1743131
6928,Uttar Pradesh,Maharajganj,RADHEYSHYAM,M,31.0,SC,MBCOI,Scissors,1961,0,1961,1743131
6929,Uttar Pradesh,Maharajganj,RAMSAMUJH,M,59.0,GEN,S(J),Auto- Rickshaw,5001,0,5001,1743131
6930,Uttar Pradesh,Maharajganj,VIMLESH TRIPATHI,M,30.0,GEN,NAP,HOCKEY & BALL,2339,0,2339,1743131
6931,Uttar Pradesh,Maharajganj,SHIVCHARAN,M,25.0,GEN,jhspt,BUCKET,3455,0,3455,1743131
6932,Uttar Pradesh,Maharajganj,SHREE AKHILESH KUMAR,M,30.0,GEN,ADUP,Kettle,5422,0,5422,1743131
6933,Uttar Pradesh,Maharajganj,AJAYDHAR,M,35.0,GEN,IND,Bat,4079,0,4079,1743131
6934,Uttar Pradesh,Maharajganj,ANIL KUMAR SHAHANI,M,38.0,GEN,IND,Telephone,15517,0,15517,1743131
6935,Uttar Pradesh,Maharajganj,GOVIND DAS,M,55.0,GEN,IND,Diesel Pump,4216,0,4216,1743131
6936,Uttar Pradesh,Maharajganj,TEJ PRATAP,M,49.0,GEN,IND,Cauliflower,6131,0,6131,1743131
6937,Uttar Pradesh,Maharajganj,DAYARAM NISHAD,M,34.0,GEN,IND,Cup & Saucer,4210,0,4210,1743131
6938,Uttar Pradesh,Maharajganj,DINESH KUMAR,M,60.0,SC,IND,Walking Stick,1671,0,1671,1743131
6939,Uttar Pradesh,Maharajganj,DINANATH,M,41.0,SC,IND,Sewing Machine,2149,0,2149,1743131
6940,Uttar Pradesh,Maharajganj,RAKESH KUMAR GIRI,M,37.0,GEN,IND,Hat,2545,0,2545,1743131
6941,Uttar Pradesh,Maharajganj,RAKESH KUMAR GUPTA,M,27.0,GEN,IND,Gas Cylinder,1828,0,1828,1743131
6942,Uttar Pradesh,Maharajganj,None of the Above,NaN,NaN,NaN,NOTA,NOTA,4545,0,4545,1743131

In [30]:
conflict_states = d1[d1['pc_name'].isin(conflict_constituencies.index)]['state'].unique()
conflict_states

array(['Bihar', 'Himachal Pradesh', 'Maharashtra', 'Uttar Pradesh'],
      dtype=object)

In [31]:
def generate_unique_names(row, conflicts):

    if row['pc_name'] in conflicts:
        return f"{row['pc_name']} ({row['state']})"
    return row['pc_name']

In [32]:
d1['unique_pc_name'] = d1.apply(lambda row : generate_unique_names(row, conflict_constituencies), axis=1)

d1['pc_name'] = d1['unique_pc_name']

d1.drop(columns=['unique_pc_name'], inplace=True)
d1

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357

In [33]:
f = d1[(d1['pc_name'] == 'Bansgaon') | (d1['pc_name'] == 'Bangaon')]
print(f)

              state   pc_name                 candidate  sex   age category  \
6990  Uttar Pradesh  Bansgaon            KAMLESH PASWAN    M  38.0       SC
6991  Uttar Pradesh  Bansgaon      GORAKH PRASAD PASWAN    M  56.0       SC
6992  Uttar Pradesh  Bansgaon              SADAL PRASAD    M  59.0       SC
6993  Uttar Pradesh  Bansgaon              SANJAI KUMAR    M  39.0       SC
6994  Uttar Pradesh  Bansgaon          ARJUN PRASAD RAW    M  45.0       SC
6995  Uttar Pradesh  Bansgaon  CHANDRIKA PRASAD BHARATI    M  34.0       SC
6996  Uttar Pradesh  Bansgaon                 RAMNARESH    M  50.0       SC
6997  Uttar Pradesh  Bansgaon          RAMNIVAS  PASWAN    M  38.0       SC
6998  Uttar Pradesh  Bansgaon           RAMPRIT JAKHMEE    M  49.0       SC
6999  Uttar Pradesh  Bansgaon     LALCHAND PRASAD JATAV    M  44.0       SC
7000  Uttar Pradesh  Bansgaon                 KUNJAWATI    F  41.0       SC
7001  Uttar Pradesh  Bansgaon              SHEO SHANKAR    M  63.0       SC
7002  Uttar Pradesh  Bansgaon         None of the Above  NaN   NaN      NaN
7426    West Bengal   Bangaon                ILA MONDAL    F  42.0       SC
7427    West Bengal   Bangaon      KAPIL KRISHNA THAKUR    M  73.0       SC
7428    West Bengal   Bangaon           CHANDAN MALLICK    M  44.0       SC
7429    West Bengal   Bangaon                DEBESH DAS    M  54.0       SC
7430    West Bengal   Bangaon               K.D. BISWAS    M  63.0       SC
7431    West Bengal   Bangaon           TARAPADA BISWAS    M  60.0       SC
7432    West Bengal   Bangaon     PINAKI RANJAN BHARATI    M  64.0       SC
7433    West Bengal   Bangaon      SARAT CHANDRA MANDAL    M  42.0       SC
7434    West Bengal   Bangaon       SHYAM PRASAD MONDAL    M  59.0       SC
7435    West Bengal   Bangaon             SWAPAN MONDAL    M  43.0       SC
7436    West Bengal   Bangaon            PRANITA MANDAL    F  46.0       SC
7437    West Bengal   Bangaon         None of the Above  NaN   NaN      NaN

        party             party_symbol  general_votes  postal_votes  \
6990      BJP                    Lotus         417597           362
6991       SP                  Bicycle         133534           141
6992      BSP                 Elephant         228260           183
6993      INC                     Hand          50648            27
6994    BaSaP                  Balloon           2896             0
6995     RJPK            Battery Torch           1327             0
6996     ISSP           Auto- Rickshaw           2963             0
6997     AAAP                    Broom           5229             7
6998     BMUP                      Cot           3076             4
6999      ASP                    Frock           9769             0
7000      IND                     BELT           4346             0
7001      IND             Gas Cylinder           4013             0
7002     NOTA                     NOTA          13494             1
7426      INC                     Hand          43799            67
7427     AITC        Flowers and Grass         550003          1210
7428      BSP                 Elephant           9187            20
7429      CPM  Hammer, Sickle and Star         403255          1357
7430      BJP                    Lotus         244331           452
7431      AMB                  Candles           2848             0
7432  TRMRPPI                Harmonium           1071             0
7433     RAHM                    FLUTE           1171             1
7434      PDS            Battery Torch           2624             0
7435     SUCI            Glass Tumbler           3583             6
7436      IND                     Kite           8738             0
7437     NOTA                     NOTA           9918            47

      total_votes  total_electors
6990       417959         1760090
6991       133675         1760090
6992       228443         1760090
6993        50675         1760090
6994         2896         1760090
6995         1327         1760090
6996         2963         1760090
6997         5236         1760090
6998         3080         1760090
6999         9769         1760090
7000         4346         1760090
7001         4013         1760090
7002        13495         1760090
7426        43866         1540713
7427       551213         1540713
7428         9207         1540713
7429       404612         1540713
7430       244783         1540713
7431         2848         1540713
7432         1071         1540713
7433         1172         1540713
7434         2624         1540713
7435         3589         1540713
7436         8738         1540713
7437         9965         1540713

In [34]:
!pip install rapidfuzz

Requirement already satisfied: rapidfuzz in c:\users\pc\appdata\local\programs\python\python37-32\lib\site-packages (3.4.0)

In [35]:
from rapidfuzz import process, fuzz

def find_similar_names(dataframe, column_name, threshold=80):

    unique_names = dataframe[column_name].unique()
    similar_names = []

    for name in unique_names:
        matches = process.extract(name, unique_names, scorer=fuzz.ratio)
        for match in matches:
            if match[1] >= threshold and match[0] != name:
                similar_names.append((name, match[0], match[1]))
    return similar_names

similar_names = find_similar_names(d1, 'pc_name', 80)

for name_pair in similar_names:
    print(f"{name_pair[0]} <-> {name_pair[1]} (Similarity: {name_pair[2]})")

Nalgonda <-> Nalanda (Similarity: 80.0)
Nellore <-> Vellore (Similarity: 85.71428571428572)
ARUNACHAL WEST <-> ARUNACHAL EAST (Similarity: 92.85714285714286)
ARUNACHAL EAST <-> ARUNACHAL WEST (Similarity: 92.85714285714286)
Banka <-> Bankura (Similarity: 83.33333333333334)
Banka <-> Banda (Similarity: 80.0)
Nalanda <-> Nalgonda (Similarity: 80.0)
Nalanda <-> Nagaland (Similarity: 80.0)
Ahmedabad East <-> Ahmedabad West (Similarity: 85.71428571428572)
Ahmedabad West <-> Ahmedabad East (Similarity: 85.71428571428572)
Faridabad <-> Faizabad (Similarity: 82.35294117647058)
Udhampur <-> Udaipur (Similarity: 80.0)
Bangalore Rural <-> Bangalore central (Similarity: 81.25)
Bangalore North <-> Bangalore South (Similarity: 86.66666666666667)
Bangalore central <-> Bangalore Rural (Similarity: 81.25)
Bangalore South <-> Bangalore North (Similarity: 86.66666666666667)
Kannur <-> Kanpur (Similarity: 83.33333333333334)
Akola <-> Aonla (Similarity: 80.0)
Mumbai North <-> Mumbai North West (Similarity: 82.75862068965517)
Mumbai North <-> Mumbai North East (Similarity: 82.75862068965517)
Mumbai North West <-> Mumbai North East (Similarity: 88.23529411764706)
Mumbai North West <-> Mumbai North (Similarity: 82.75862068965517)
Mumbai North West <-> Mumbai North central (Similarity: 81.08108108108108)
Mumbai North East <-> Mumbai North West (Similarity: 88.23529411764706)
Mumbai North East <-> Mumbai North (Similarity: 82.75862068965517)
Mumbai North central <-> Mumbai South central (Similarity: 90.0)
Mumbai North central <-> Mumbai North West (Similarity: 81.08108108108108)
Mumbai South central <-> Mumbai North central (Similarity: 90.0)
Baramati <-> Barasat (Similarity: 80.0)
Nagaland <-> Nalanda (Similarity: 80.0)
Jaipur <-> Jangipur (Similarity: 85.71428571428572)
Udaipur <-> Udhampur (Similarity: 80.0)
Chennai North <-> Chennai South (Similarity: 84.61538461538461)
Chennai South <-> Chennai North (Similarity: 84.61538461538461)
Vellore <-> Nellore (Similarity: 85.71428571428572)
Tripura West <-> Tripura East (Similarity: 83.33333333333334)
Tripura East <-> Tripura West (Similarity: 83.33333333333334)
Saharanpur <-> Shahjahanpur (Similarity: 81.81818181818181)
Saharanpur <-> Baharampur (Similarity: 80.0)
Mathura <-> Mathurapur (Similarity: 82.35294117647058)
Firozabad <-> Faizabad (Similarity: 82.35294117647058)
Etah <-> Etawah (Similarity: 80.0)
Aonla <-> Akola (Similarity: 80.0)
Shahjahanpur <-> Saharanpur (Similarity: 81.81818181818181)
Etawah <-> Etah (Similarity: 80.0)
Kanpur <-> Kannur (Similarity: 83.33333333333334)
Banda <-> Banka (Similarity: 80.0)
Faizabad <-> Faridabad (Similarity: 82.35294117647058)
Faizabad <-> Firozabad (Similarity: 82.35294117647058)
Gonda <-> Godda (Similarity: 80.0)
Bansgaon <-> Bangaon (Similarity: 93.33333333333333)
Jaunpur <-> Jangipur (Similarity: 80.0)
Jangipur <-> Jaipur (Similarity: 85.71428571428572)
Jangipur <-> Jaunpur (Similarity: 80.0)
Baharampur <-> Saharanpur (Similarity: 80.0)
Bangaon <-> Bansgaon (Similarity: 93.33333333333333)
Barasat <-> Baramati (Similarity: 80.0)
Mathurapur <-> Mathura (Similarity: 82.35294117647058)
Bankura <-> Banka (Similarity: 83.33333333333334)
Godda <-> Gonda (Similarity: 80.0)
NORTH EAST DELHI               <-> NORTH WEST DELHI               (Similarity: 96.66666666666667)
NORTH EAST DELHI               <-> EAST DELHI                     (Similarity: 80.0)
EAST DELHI                     <-> WEST DELHI                     (Similarity: 96.66666666666667)
EAST DELHI                     <-> NEW DELHI                      (Similarity: 90.0)
EAST DELHI                     <-> SOUTH DELHI                    (Similarity: 90.0)
EAST DELHI                     <-> NORTH EAST DELHI               (Similarity: 80.0)
NEW DELHI                      <-> EAST DELHI                     (Similarity: 90.0)
NEW DELHI                      <-> WEST DELHI                     (Similarity: 90.0)
NEW DELHI                      <-> SOUTH DELHI                    (Similarity: 83.33333333333334)
NORTH WEST DELHI               <-> NORTH EAST DELHI               (Similarity: 96.66666666666667)
NORTH WEST DELHI               <-> WEST DELHI                     (Similarity: 80.0)
WEST DELHI                     <-> EAST DELHI                     (Similarity: 96.66666666666667)
WEST DELHI                     <-> NEW DELHI                      (Similarity: 90.0)
WEST DELHI                     <-> SOUTH DELHI                    (Similarity: 90.0)
WEST DELHI                     <-> NORTH WEST DELHI               (Similarity: 80.0)
SOUTH DELHI                    <-> EAST DELHI                     (Similarity: 90.0)
SOUTH DELHI                    <-> WEST DELHI                     (Similarity: 90.0)
SOUTH DELHI                    <-> NEW DELHI                      (Similarity: 83.33333333333334)

In [36]:
f = d1[(d1['pc_name'] == 'Banka') | (d1['pc_name'] == 'Banda')]
print(f)

              state pc_name                       candidate  sex   age  \
1248          Bihar   Banka       JAI PRAKASH NARAYAN YADAV    M  60.0
1249          Bihar   Banka                    PUTUL KUMARI    F  54.0
1250          Bihar   Banka                 SANJAY KUMAR -I    M  50.0
1251          Bihar   Banka                 SANJAY KUMAR-II    M  58.0
1252          Bihar   Banka                   UMAKANT YADAV    M  63.0
1253          Bihar   Banka                    DEEPAK KUMAR    M  35.0
1254          Bihar   Banka                     NIRAJ KUMAR    M  43.0
1255          Bihar   Banka             MAHBOOB ALAM ANSARI    M  55.0
1256          Bihar   Banka            MITHLESH KUMAR SINGH    M  31.0
1257          Bihar   Banka              MUKESH KUMAR SINHA    M  42.0
1258          Bihar   Banka                    VIJAY BHARTI    M  59.0
1259          Bihar   Banka              SUBODH NARAYAN JHA    M  63.0
1260          Bihar   Banka           AKHIL BHARTIYA SHARMA    M  48.0
1261          Bihar   Banka                ALIMUDDIN ANSARI    M  53.0
1262          Bihar   Banka            INDRARAJ SINGH SAINI    M  70.0
1263          Bihar   Banka        NARESH KUMAR PRIYADARSHI    M  38.0
1264          Bihar   Banka                      SARGUN SAH    M  59.0
1265          Bihar   Banka               None of the Above  NaN   NaN
6681  Uttar Pradesh   Banda  BAL KUMAR PATEL ALIAS RAJKUMAR    M  54.0
6682  Uttar Pradesh   Banda           BHAIRON PRASAD MISHRA    M  60.0
6683  Uttar Pradesh   Banda                RAMCHANDRA SARAS    M  52.0
6684  Uttar Pradesh   Banda               VIVEK KUMAR SINGH    M  58.0
6685  Uttar Pradesh   Banda               R. K. SINGH PATEL    M  54.0
6686  Uttar Pradesh   Banda              AMAR SINGH RATHAUR    M  56.0
6687  Uttar Pradesh   Banda                     PAPPU YADAV    M  31.0
6688  Uttar Pradesh   Banda                PRABHAKAR PRASAD    M  29.0
6689  Uttar Pradesh   Banda                VISHVAMBHAR NATH    M  60.0
6690  Uttar Pradesh   Banda                      MO. SAGEER    M  46.0
6691  Uttar Pradesh   Banda                  SUSHEELA SINGH    F  44.0
6692  Uttar Pradesh   Banda      NARENDRA KUMAR SHRIVASTAVA    M  64.0
6693  Uttar Pradesh   Banda                   VIJAY PRAKASH    M  57.0
6694  Uttar Pradesh   Banda               None of the Above  NaN   NaN

     category  party              party_symbol  general_votes  postal_votes  \
1248      GEN    RJD            Hurricane Lamp         285148             2
1249      GEN    BJP                     Lotus         274980            26
1250      GEN    CPI   Ears of Corn And Sickle         220703             5
1251      GEN    BSP                  Elephant          10558             0
1252      GEN   BMUP                       Cot           2266             0
1253      GEN   SUCI             Glass Tumbler           2481             0
1254      GEN   AAAP                     Broom           6057             1
1255      GEN    BMF                   Almirah           2280             0
1256      GEN    NLP               Ceiling Fan           2977             0
1257      GEN   BEMP                      Kite           2405             0
1258      GEN   ravp                  Scissors           4317             0
1259      GEN   AITC         Flowers and Grass           4411             1
1260      GEN    IND            Auto- Rickshaw           4721             0
1261      GEN    IND                   Batsman          12871             0
1262      GEN    IND  Basket containing Fruits          11520             0
1263      GEN    IND                       Saw          30814             0
1264      GEN    IND           Air Conditioner          11056             0
1265      NaN   NOTA                      NOTA           9753             0
6681      GEN     SP                   Bicycle         189714            16
6682      GEN    BJP                     Lotus         342008            58
6683      GEN    CPI   Ears of Corn And Sickle          15156             0
6684      GEN    INC                      Hand          36647             3
6685      GEN    BSP                  Elephant         226264            14
6686      GEN   AAAP                     Broom           6438             1
6687      GEN  JD(U)                     Arrow           2436             0
6688      GEN   BKSL               Diesel Pump           2605             0
6689       SC   BMUP                       Cot           4755             0
6690      GEN   PECP               Ceiling Fan           3201             0
6691      GEN   BSCP                     FLUTE           2931             0
6692      GEN    IND            Sewing Machine           5115             0
6693      GEN    IND                   Balloon           7140             0
6694      NaN   NOTA                      NOTA          13823             1

      total_votes  total_electors
1248       285150         1549456
1249       275006         1549456
1250       220708         1549456
1251        10558         1549456
1252         2266         1549456
1253         2481         1549456
1254         6058         1549456
1255         2280         1549456
1256         2977         1549456
1257         2405         1549456
1258         4317         1549456
1259         4412         1549456
1260         4721         1549456
1261        12871         1549456
1262        11520         1549456
1263        30814         1549456
1264        11056         1549456
1265         9753         1549456
6681       189730         1601855
6682       342066         1601855
6683        15156         1601855
6684        36650         1601855
6685       226278         1601855
6686         6439         1601855
6687         2436         1601855
6688         2605         1601855
6689         4755         1601855
6690         3201         1601855
6691         2931         1601855
6692         5115         1601855
6693         7140         1601855
6694        13824         1601855

In [37]:
def find_similar_names(dataframe, column_name, threshold=80):
    unique_names = dataframe[column_name].unique()
    similar_names = []

    for name in unique_names:
        matches = process.extract(name, unique_names, scorer=fuzz.ratio)
        for match in matches:
            if match[1] >= threshold and match[0] != name:
                similar_names.append((name, match[0], match[1]))

    return similar_names

# Function to get constituencies with spelling mismatches
def get_mismatched_constituencies(dataframe):
    mismatched_constituencies = []

    grouped = dataframe.groupby(['state', 'total_electors'])
    for _, group in grouped:
        similar_names = find_similar_names(group, 'pc_name', 80)
        if similar_names:
            mismatched_constituencies.extend(group['pc_name'].unique())
    
    return mismatched_constituencies

# Get constituencies with potential spelling mismatches
mismatched_constituencies = get_mismatched_constituencies(d1)

print("Constituencies with potential spelling mismatches:")
print(mismatched_constituencies)

Constituencies with potential spelling mismatches:
[]

In [38]:
temp = d1[d1['candidate'] == 'HARSH VARDHAN']

In [39]:
temp

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
6922,Uttar Pradesh,Maharajganj (Uttar Pradesh),HARSH VARDHAN,M,66.0,GEN,INC,Hand,57193,0,57193,1743131

In [40]:
temp['pc_name'] = 'Maharajgung (Uttar Pradesh)'
temp

C:\Users\pc\AppData\Local\Temp\ipykernel_9716\721631220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['pc_name'] = 'Maharajgung (Uttar Pradesh)'

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
6922,Uttar Pradesh,Maharajgung (Uttar Pradesh),HARSH VARDHAN,M,66.0,GEN,INC,Hand,57193,0,57193,1743131

In [41]:
d1.at[6922, 'pc_name'] = 'Maharajgung (Uttar Pradesh)'

In [42]:
print(d1.iloc[6922])

state                           Uttar Pradesh
pc_name           Maharajgung (Uttar Pradesh)
candidate                       HARSH VARDHAN
sex                                         M
age                                      66.0
category                                  GEN
party                                     INC
party_symbol                             Hand
general_votes                           57193
postal_votes                                0
total_votes                             57193
total_electors                        1743131
Name: 6922, dtype: object

In [43]:
d1.at[6922, 'pc_name'] = 'Maharajganj (Uttar Pradesh)'

In [44]:
d1.at[1248, 'pc_name'] = 'Banda'

In [45]:
d1.at[1248, 'pc_name'] = 'Banka'

In [46]:
andi = d1[(d1['state'] == 'Andhra Pradesh')]['pc_name'].value_counts().sort_index()
andi

pc_name
Adilabad           9
Amalapuram        15
Anakapalli         9
Anantapur         14
Aruku             12
Bapatla           15
Bhongir           14
CHELVELLA         16
Chittoor           8
Eluru             16
Guntur            13
Hindupur          13
Hyderabad         17
Kadapa            15
Kakinada          23
Karimnagar        18
Khammam           28
Kurnool           13
Machilipatnam     12
Mahabubabad       18
Mahbubnagar       10
Malkajgiri        31
Medak             14
Nagarkurnool       7
Nalgonda          10
Nandyal           15
Narasaraopet      12
Narsapuram        15
Nellore           15
Nizamabad         17
Ongole            16
Peddapalle        18
Rajahmundry       15
Rajampet          10
Secundrabad       31
Srikakulam        11
Tirupati          15
Vijayawada        23
Visakhapatnam     23
Vizianagaram      10
Warangal          13
Zahirabad         11
Name: count, dtype: int64

In [47]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8597 entries, 0 to 8596
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           8597 non-null   object
 1   pc_name         8597 non-null   object
 2   candidate       8597 non-null   object
 3   sex             8054 non-null   object
 4   age             8054 non-null   float64
 5   category        8054 non-null   object
 6   party           8597 non-null   object
 7   party_symbol    8054 non-null   object
 8   general_votes   8597 non-null   int64
 9   postal_votes    8597 non-null   int64
 10  total_votes     8597 non-null   int64
 11  total_electors  8597 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 806.1+ KB

In [48]:
state_constituency_conflicts = d2.groupby('pc_name')['state'].nunique()
conflict_constituencies = state_constituency_conflicts[state_constituency_conflicts>1]
state_constituency_conflicts
conflict_constituencies

pc_name
Aurangabad     2
Hamirpur       2
Maharajganj    2
Name: state, dtype: int64

In [49]:

mismatched_constituencies_d2 = get_mismatched_constituencies(d2)

print("Constituencies with potential spelling mismatches:")
print(mismatched_constituencies_d2)

Constituencies with potential spelling mismatches:
[]

In [50]:
d2['unique_pc_name'] = d2.apply(lambda row : generate_unique_names(row, conflict_constituencies), axis=1)

d2['pc_name'] = d2['unique_pc_name']

d2.drop(columns=['unique_pc_name'], inplace=True)
d2

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,973410
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,973410
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,973410
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,973410
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410

In [51]:
n = d2[d2['state'] == 'Telangana']
n

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
7870,Telangana,Adilabad,Godam Nagesh,MALE,54.0,ST,TRS,Car,318665,149,318814,1489790
7871,Telangana,Adilabad,RATHOD RAMESH,MALE,52.0,ST,INC,Hand,314057,181,314238,1489790
7872,Telangana,Adilabad,SOYAM BAPU RAO,MALE,52.0,ST,BJP,Lotus,376892,482,377374,1489790
7873,Telangana,Adilabad,KUMRAM VANDANA,FEMALE,35.0,ST,NPRP,Tractor Chalata Kisan,8005,2,8007,1489790
7874,Telangana,Adilabad,Dharavath Narendhar Naik,MALE,27.0,ST,JnP,Glass Tumbler,5233,8,5241,1489790
...,...,...,...,...,...,...,...,...,...,...,...,...
8325,Telangana,Khammam,BHANALA LAXMANA CHARY,MALE,53.0,GENERAL,IND,Sewing Machine,4704,0,4704,1513809
8326,Telangana,Khammam,MUTYAM ARJUNA RAJU,MALE,30.0,GENERAL,IND,Bangles,2220,0,2220,1513809
8327,Telangana,Khammam,LAXMA NAIK BANOTH,MALE,62.0,ST,IND,Air Conditioner,732,2,734,1513809
8328,Telangana,Khammam,SANJEEVA RAO NAKIRIKANTI,MALE,49.0,SC,IND,SHIP,2024,0,2024,1513809
8329,Telangana,Khammam,NOTA,NaN,NaN,NaN,NOTA,NaN,15802,30,15832,1513809

In [52]:
te = d2[(d2['state'] == 'Telangana')]['pc_name'].unique()

te

array(['Adilabad ', 'Peddapalle ', 'Karimnagar ', 'Nizamabad',
       'Zahirabad', 'Medak', 'Malkajgiri', 'Secundrabad', 'Hyderabad',
       'CHEVELLA', 'Mahbubnagar', 'Nagarkurnool', 'Nalgonda', 'Bhongir ',
       'Warangal', 'Mahabubabad  ', 'Khammam '], dtype=object)

In [53]:
d1.loc[d1['pc_name'].isin(te), 'state'] = 'Telangana'
d1

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Telangana,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Telangana,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Telangana,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Telangana,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Telangana,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357

In [54]:
total_electors_from_all = d1[['pc_name', 'total_electors']].drop_duplicates()

In [55]:
total_electors_from_all = total_electors_from_all.reset_index(drop = True)

In [56]:
total_electors_from_all.sum()[1]

C:\Users\pc\AppData\Local\Temp\ipykernel_9716\883487227.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  total_electors_from_all.sum()[1]

787222249

In [57]:
total_votes_cast_from_all = d1[['pc_name', 'total_votes']].drop_duplicates()
total_votes_cast_from_all = total_electors_from_all.reset_index(drop = True)
total_votes_cast_from_alladilabad_rows = d1[d1['pc_name'] == 'Adilabad']

In [58]:
adilabad_rows = d1[d1['pc_name'] == 'Adilabad']
adilabad_rows
# total_votes = a['total_votes'].sum()
# total_votes

Empty DataFrame
Columns: [state, pc_name, candidate, sex, age, category, party, party_symbol, general_votes, postal_votes, total_votes, total_electors]
Index: []

In [59]:
adilabad_rows = d1[d1['pc_name'] == 'Adilabad']

# Check if the DataFrame is empty
if adilabad_rows.empty:
    print("No rows found for pc_name 'Adilabad'")
else:
    print("Filtered DataFrame for 'Adilabad':")
    print(adilabad_rows)

No rows found for pc_name 'Adilabad'

In [60]:
d1['pc_name'] = d1['pc_name'].str.strip()
print(d1['pc_name'].unique())

['Adilabad' 'Peddapalle' 'Karimnagar' 'Nizamabad' 'Zahirabad' 'Medak'
 'Malkajgiri' 'Secundrabad' 'Hyderabad' 'CHELVELLA' 'Mahbubnagar'
 'Nagarkurnool' 'Nalgonda' 'Bhongir' 'Warangal' 'Mahabubabad' 'Khammam'
 'Aruku' 'Srikakulam' 'Vizianagaram' 'Visakhapatnam' 'Anakapalli'
 'Kakinada' 'Amalapuram' 'Rajahmundry' 'Narsapuram' 'Eluru'
 'Machilipatnam' 'Vijayawada' 'Guntur' 'Narasaraopet' 'Bapatla' 'Ongole'
 'Nandyal' 'Kurnool' 'Anantapur' 'Hindupur' 'Kadapa' 'Nellore' 'Tirupati'
 'Rajampet' 'Chittoor' 'ARUNACHAL WEST' 'ARUNACHAL EAST' 'Karimganj'
 'Silchar' 'Autonomous District' 'Dhubri' 'Kokrajhar' 'Barpeta' 'Gauhati'
 'Mangaldoi' 'Tezpur' 'Nowgong' 'Kaliabor' 'Jorhat' 'Dibrugarh'
 'Lakhimpur' 'Valmiki Nagar' 'Paschim Champaran' 'Purvi Champaran'
 'Sheohar' 'Sitamarhi' 'Madhubani' 'Jhanjharpur' 'Supaul' 'Araria'
 'Kishanganj' 'Katihar' 'Purnia' 'Madhepura' 'Darbhanga' 'Muzaffarpur'
 'Vaishali' 'Gopalganj (SC)' 'Siwan' 'Maharajganj (Bihar)' 'Saran'
 'Hajipur (SC)' 'Ujiarpur' 'Samastipur (SC)' 'Begusarai' 'Khagaria'
 'Bhagalpur' 'Banka' 'Munger' 'Nalanda' 'Patna Sahib' 'Pataliputra'
 'Arrah' 'Buxar' 'Sasaram (SC)' 'Karakat' 'Jahanabad' 'Aurangabad (Bihar)'
 'Gaya (SC)' 'Nawada' 'Jamui (SC)' 'North Goa' 'South Goa' 'Kachchh'
 'Banaskantha' 'Patan' 'Mahesana' 'Sabarkantha' 'Gandhinagar'
 'Ahmedabad East' 'Ahmedabad West' 'Surendranagar' 'Rajkot' 'Porbandar'
 'Jamnagar' 'Junagadh' 'Amreli' 'Bhavnagar' 'Anand' 'Kheda' 'Panchmahal'
 'Dahod' 'Vadodara' 'Chhota Udaipur' 'Bharuch' 'Bardoli' 'Surat' 'Navsari'
 'Valsad' 'Ambala' 'Kurukshetra' 'Sirsa' 'Hisar' 'Karnal' 'Sonipat'
 'Rohtak' 'Bhiwani-Mahendragarh' 'Gurgaon' 'Faridabad' 'Kangra' 'Mandi'
 'Hamirpur (Himachal Pradesh)' 'Shimla' 'Baramulla' 'Srinagar' 'Anantnag'
 'Ladakh' 'Udhampur' 'Jammu' 'Chikkodi' 'Belgaum' 'Bagalkot' 'Bijapur'
 'Gulbarga' 'Raichur' 'Bidar' 'Koppal' 'Bellary' 'Haveri' 'Dharwad'
 'Uttara Kannada' 'Davanagere' 'Shimoga' 'Udupi Chikmagalur' 'Hassan'
 'Dakshina Kannada' 'Chitradurga' 'Tumkur' 'Mandya' 'Mysore'
 'Chamarajanagar' 'Bangalore Rural' 'Bangalore North' 'Bangalore central'
 'Bangalore South' 'Chikkballapur' 'Kolar' 'Kasaragod' 'Kannur' 'Vadakara'
 'Wayanad' 'Kozhikode' 'Malappuram' 'Ponnani' 'Palakkad' 'Alathur'
 'Thrissur' 'Chalakudy' 'Ernakulam' 'Idukki' 'Kottayam' 'Alappuzha'
 'Mavelikkara' 'Pathanamthitta' 'Kollam' 'Attingal' 'Thiruvananthapuram'
 'MORENA' 'BHIND' 'GWALIOR' 'GUNA' 'SAGAR' 'TIKAMGARH' 'DAMOH' 'KHAJURAHO'
 'SATNA' 'REWA' 'SIDHI' 'SHAHDOL' 'JABALPUR' 'MANDLA' 'BALAGHAT'
 'CHHINDWARA' 'HOSHANGABAD' 'VIDISHA' 'BHOPAL' 'RAJGARH' 'DEWAS' 'UJJAIN'
 'MANDSOUR' 'RATLAM' 'DHAR' 'INDORE' 'KHARGONE' 'KHANDWA' 'BETUL'
 'Nandurbar' 'Dhule' 'Jalgaon' 'Raver' 'Buldhana' 'Akola' 'Amravati'
 'Wardha' 'Ramtek' 'Nagpur' 'Bhandara - gondiya' 'Gadchiroli-Chimur'
 'Chandrapur' 'Yavatmal-Washim' 'Hingoli' 'Nanded' 'Parbhani' 'Jalna'
 'Aurangabad (Maharashtra)' 'Dindori' 'Nashik' 'Palghar' 'Bhiwandi'
 'Kalyan' 'Thane' 'Mumbai North' 'Mumbai North West' 'Mumbai North East'
 'Mumbai North central' 'Mumbai South central' 'Mumbai   South' 'Raigad'
 'Maval' 'Pune' 'Baramati' 'Shirur' 'Ahmadnagar' 'Shirdi' 'Beed'
 'Osmanabad' 'Latur' 'Solapur' 'Madha' 'Sangli' 'Satara'
 'Ratnagiri - sindhudurg' 'Kolhapur' 'Hatkanangle' 'Inner manipur'
 'Outer manipur' 'Shillong' 'Tura' 'MIZORAM' 'Nagaland' 'Gurdaspur'
 'Amritsar' 'Khadoor Sahib' 'Jalandhar' 'Hoshiarpur' 'Anandpur Sahib'
 'Ludhiana' 'Fatehgarh Sahib' 'Faridkot' 'Firozpur' 'Bathinda' 'Sangrur'
 'Patiala' 'Ganganagar' 'Bikaner' 'Churu' 'Jhunjhunu' 'Sikar'
 'Jaipur Rural' 'Jaipur' 'Alwar' 'BHARATPUR' 'KARAULI-DHOLPUR' 'Dausa'
 'TONK-SAWAI MADHOPUR' 'Ajmer' 'Nagaur' 'Pali' 'Jodhpur' 'Barmer' 'Jalore'
 'Udaipur' 'Banswara' 'Chittorgarh' 'Rajsamand' 'Bhilwara' 'Kota'
 'JHALAWAR-BARAN' 'Sikkim' 'Thiruvallur' 'Chennai North' 'Chennai South'
 'Chennai central' 'Sriperumbudur' 'Kancheepuram' 'Arakkonam' 'Vellore'
 'Krishnagiri' 'Dharmapuri' 'Tiruvannamalai' 'Arani' 'Viluppuram'
 'Kallakurichi' 'Salem' 'Namakkal' 'Erode' 'Tiruppur' 'Nilgiris'
 'Coimbatore' 'Pollachi' 'Dindigul' 'Karur' 'Tiruchirappalli' 'Perambalur'
 'Cuddalore' 'Chidambaram' 'Mayiladuthurai' 'Nagapattinam' 'Thanjavur'
 'Sivaganga' 'Madurai' 'Theni' 'Virudhunagar' 'Ramanathapuram'
 'Thoothukkudi' 'Tenkasi' 'Tirunelveli' 'Kanniyakumari' 'Tripura West'
 'Tripura East' 'Saharanpur' 'Kairana' 'Muzaffarnagar' 'Bijnor' 'Nagina'
 'Moradabad' 'Rampur' 'Sambhal' 'Amroha' 'Meerut' 'Baghpat' 'Ghaziabad'
 'Gautam Buddha Nagar' 'Bulandshahr' 'Aligarh' 'Hathras' 'Mathura' 'Agra'
 'Fatehpur Sikri' 'Firozabad' 'Mainpuri' 'Etah' 'Badaun' 'Aonla'
 'Bareilly' 'Pilibhit' 'Shahjahanpur' 'Kheri' 'Dhaurahra' 'Sitapur'
 'Hardoi' 'Misrikh' 'Unnao' 'Mohanlalganj' 'Lucknow' 'Rae Bareli' 'Amethi'
 'Sultanpur' 'Pratapgarh' 'Farrukhabad' 'Etawah' 'Kannauj' 'Kanpur'
 'Akbarpur' 'Jalaun' 'Jhansi' 'Hamirpur (Uttar Pradesh)' 'Banda'
 'Fatehpur' 'Kaushambi' 'Phulpur' 'Allahabad' 'Barabanki' 'Faizabad'
 'Ambedkar Nagar' 'Bahraich' 'Kaiserganj' 'Shrawasti' 'Gonda'
 'Domariyaganj' 'Basti' 'Sant Kabir Nagar' 'Maharajganj (Uttar Pradesh)'
 'Gorakhpur' 'Kushi Nagar' 'Deoria' 'Bansgaon' 'Lalganj' 'Azamgarh'
 'Ghosi' 'Salempur' 'Ballia' 'Jaunpur' 'Machhlishahr' 'Ghazipur'
 'Chandauli' 'Varanasi' 'Bhadohi' 'Mirzapur' 'Robertsganj' 'Cooch behar'
 'Alipurduars' 'Jalpaiguri' 'Darjeeling' 'Raiganj' 'Balurghat'
 'Maldaha Uttar' 'Maldaha Dakshin' 'Jangipur' 'Baharampur' 'Murshidabad'
 'Krishnanagar' 'Ranaghat' 'Bangaon' 'Barrackpore' 'Dum dum' 'Barasat'
 'Basirhat' 'Joynagar' 'Mathurapur' 'Diamond harbour' 'Jadavpur'
 'Kolkata Dakshin' 'Kolkata Uttar' 'Howrah' 'Uluberia' 'Srerampur'
 'Hooghly' 'Arambagh' 'Tamluk' 'Kanthi' 'Ghatal' 'Jhargram' 'Medinipur'
 'Purulia' 'Bankura' 'Bishnupur' 'Bardhaman Purba' 'Burdwan - durgapur'
 'Asansol' 'Bolpur' 'Birbhum' 'Rajmahal' 'Dumka' 'Godda' 'Chatra'
 'Kodarma' 'Giridih' 'Dhanbad' 'Ranchi' 'Jamshedpur' 'Singhbhum' 'Khunti'
 'Lohardaga' 'Palamau' 'Hazaribagh' 'Tehri Garhwal' 'Garhwal' 'Almora'
 'Nainital-udhamsingh Nagar' 'Hardwar' 'Andaman & Nicobar Islands'
 'CHANDIGARH' 'Dadar & Nagar Haveli' 'Daman & diu' 'CHANDNI CHOWK'
 'NORTH EAST DELHI' 'EAST DELHI' 'NEW DELHI' 'NORTH WEST DELHI'
 'WEST DELHI' 'SOUTH DELHI' 'Lakshadweep' 'Puducherry']

In [71]:
def analyse_voter_turnout(d1):
    total_votes_per_constituencies = d1.groupby('pc_name')['total_votes'].sum().reset_index()
    total_electors_per_constituencies = d1[['pc_name', 'total_electors']].drop_duplicates()
    
    
    merged_df = pd.merge(total_votes_per_constituencies, total_electors_per_constituencies, on='pc_name')
    
    merged_df['voter_turnout_ratio'] = (merged_df['total_votes']/merged_df['total_electors'])*100
    
    sorted_voter_turnout = merged_df.sort_values(by='voter_turnout_ratio', ascending=False)
    
    top5_constituencies = sorted_voter_turnout.head(5)
    bottom5_constituencies = sorted_voter_turnout.tail(5)

    return top5_constituencies,bottom5_constituencies

top_2014, bottom_2014 = analyse_voter_turnout(d1)
top_2019, bottom_2019 = analyse_voter_turnout(d2)

print(f"top 5 constituencies in terms of their voter turnout ratio in the year 2014 \n\n {top_2014} \n\n and bottom 5 are \n\n {bottom_2014}\n\n")
print(f"top 5 constituencies in terms of their voter turnout ratio in the year 2019 \n\n {top_2019} \n\n and bottom 5 are \n\n {bottom_2019}")

top 5 constituencies in terms of their voter turnout ratio in the year 2014

          pc_name  total_votes  total_electors  voter_turnout_ratio
144       Dhubri      1369624         1550166            88.353376
344     Nagaland      1038910         1182972            87.822028
464       Tamluk      1337684         1527273            87.586437
99     Bishnupur      1272070         1466921            86.717008
289  Lakshadweep        43239           49922            86.613116

 and bottom 5 are

          pc_name  total_votes  total_electors  voter_turnout_ratio
381  Patna Sahib       882262         1946249            45.331404
248       Kalyan       824196         1922034            42.881447
70     Baramulla       465992         1190766            39.133801
29      Anantnag       375279         1301143            28.842256
456     Srinagar       312212         1207230            25.861849


top 5 constituencies in terms of their voter turnout ratio in the year 2019

             pc_name  total_votes  total_electors  voter_turnout_ratio
156          Dhubri      1685005         1858566            90.661564
108       Bishnupur      1420648         1627199            87.306347
82          Barpeta      1458549         1685149            86.553118
237      Jalpaiguri      1500922         1735464            86.485343
0    ARUNACHAL EAST       293781          339788            86.460087

 and bottom 5 are

        pc_name  total_votes  total_electors  voter_turnout_ratio
266     Kalyan       890313         1965676            45.292968
219  Hyderabad       877872         1957931            44.836718
74   Baramulla       455550         1317738            34.570605
487   Srinagar       186832         1294671            14.430848
29    Anantnag       124896         1397779             8.935318

In [74]:
def states_voter_turnout_ratio(d1):

    total_electors_per_state = d1.groupby('state')['total_electors'].sum().reset_index()
    total_votes_per_state = d1.groupby('state')['total_votes'].sum().reset_index()

    merge_df = pd.merge(total_electors_per_state, total_votes_per_state, on='state')

    merge_df['voter_turnout_state'] = (merge_df['total_votes']/merge_df['total_electors']) * 100

    sorted = merge_df.sort_values(by='voter_turnout_state', ascending=False)

    top5_states = sorted.head(5)
    bottom5_states = sorted.tail(5)

    return top5_states, bottom5_states

In [76]:
top5_states2014, bottom5_states2014 = states_voter_turnout_ratio(d1)

top5_states2019, bottom5_states2019 = states_voter_turnout_ratio(d2)

print(f"top 5 states in terms of their voter turnout ratio in the year 2014 \n\n {top5_states2014} \n\n and bottom 5 are \n\n {bottom5_states2014}\n\n")
print(f"top 5 constituencies in terms of their voter turnout ratio in the year 2019 \n\n {top5_states2019} \n\n and bottom 5 are \n\n {bottom5_states2019}")

top 5 states in terms of their voter turnout ratio in the year 2014

           state  total_electors  total_votes  voter_turnout_state
23     Nagaland         4731888      1038910            21.955507
7   Daman & Diu          559135        87233            15.601420
21      Mizoram         2808680       433201            15.423651
16  Lakshadweep          349454        43239            12.373302
27       Sikkim         2595390       308967            11.904454

 and bottom 5 are

               state  total_electors  total_votes  voter_turnout_state
12  Jammu & Kashmir       112439488      3566863             3.172251
18      Maharashtra      1605928601     48717419             3.033598
10          Haryana       384048106     11495151             2.993154
22     NCT OF Delhi       277906739      8271766             2.976454
24       Puducherry        27942067       740017             2.648397


top 5 constituencies in terms of their voter turnout ratio in the year 2019

                 state  total_electors  total_votes  voter_turnout_state
24           Nagaland         6068885      1006357            16.582239
8         Daman & Diu          608700        87469            14.369805
17        Lakshadweep          386323        47009            12.168315
21          Meghalaya        11252602      1367231            12.150354
2   Arunachal Pradesh         5748928       652091            11.342828

 and bottom 5 are

               state  total_electors  total_votes  voter_turnout_state
27           Punjab       467916199     13765432             2.941858
13  Jammu & Kashmir       130560222      3552622             2.721060
23     NCT OF Delhi       343150615      8679012             2.529214
31        Telangana       775172300     18642895             2.405000
5        Chandigarh        23928973       456568             1.908013

In [86]:
def find_winning_party(d1):

    winning_candidates = d1.loc[d1.groupby('pc_name')['total_votes'].idxmax()].reset_index(drop=True)
    
    winning_parties = winning_candidates[['state', 'pc_name', 'candiwdate', 'party', 'total_votes']]

    return winning_parties

def analyze_consecutive_winners(d1, d2):
    winning_2014 = find_winning_party(d1)
    winning_2019 = find_winning_party(d2)
    
    merged = pd.merge(winning_2014, winning_2019, on='pc_name', suffixes=('_2014', '_2019'))
    same_party = merged[merged['party_2014'] == merged['party_2019']]

    same_party['voter_percentage_2019'] = (same_party['total_votes_2019']/ d2.groupby('pc_name')['total_votes'].sum()[same_party['pc_name']].values)* 100

    same_party_sorted = same_party.sort_values(by='voter_percentage_2019', ascending=False)

    return same_party_sorted[['state_2019', 'pc_name', 'party_2019', 'voter_percentage_2019']]


same_party_sorted = analyze_consecutive_winners(d1, d2)

print("Constituencies that elected the same party for two consecutive elections, ranked by % votes to the winning party in 2019:\n")
print(same_party_sorted)

Constituencies that elected the same party for two consecutive elections, ranked by % votes to the winning party in 2019:

           state_2019          pc_name party_2019  voter_percentage_2019
418           Gujarat            Surat        BJP              74.470429
325           Gujarat          Navsari        BJP              74.367402
447           Gujarat         Vadodara        BJP              72.296842
228  Himachal Pradesh           Kangra        BJP              72.018463
83          Rajasthan         Bhilwara        BJP              71.587233
..                ...              ...        ...                    ...
268            Punjab         Ludhiana        INC              36.658214
284       West Bengal  Maldaha Dakshin        INC              34.730246
262   Jammu & Kashmir           Ladakh        BJP              33.943967
245             Bihar       Kishanganj        INC              33.316630
247             Assam        Kokrajhar        IND              32.751937

[311 rows x 4 columns]

C:\Users\pc\AppData\Local\Temp\ipykernel_9716\787883497.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  same_party['voter_percentage_2019'] = (same_party['total_votes_2019']/ d2.groupby('pc_name')['total_votes'].sum()[same_party['pc_name']].values)* 100

In [87]:
same_party_sorted

           state_2019          pc_name party_2019  voter_percentage_2019
418           Gujarat            Surat        BJP              74.470429
325           Gujarat          Navsari        BJP              74.367402
447           Gujarat         Vadodara        BJP              72.296842
228  Himachal Pradesh           Kangra        BJP              72.018463
83          Rajasthan         Bhilwara        BJP              71.587233
..                ...              ...        ...                    ...
268            Punjab         Ludhiana        INC              36.658214
284       West Bengal  Maldaha Dakshin        INC              34.730246
262   Jammu & Kashmir           Ladakh        BJP              33.943967
245             Bihar       Kishanganj        INC              33.316630
247             Assam        Kokrajhar        IND              32.751937

[311 rows x 4 columns]

In [88]:
def analyse_votes_diff_of_parties(d1, d2):
    winning_2014 = find_winning_party(d1)
    winning_2019 = find_winning_party(d2)
    
    merged = pd.merge(winning_2014, winning_2019, on='pc_name', suffixes=('_2014', '_2019'))
    same_party = merged[merged['party_2014'] != merged['party_2019']]

    same_party['voter_percentage_2019'] = (same_party['total_votes_2019']/ d2.groupby('pc_name')['total_votes'].sum()[same_party['pc_name']].values)* 100
    same_party['voter_percentage_2014'] = (same_party['total_votes_2014']/ d1.groupby('pc_name')['total_votes'].sum()[same_party['pc_name']].values)* 100
    same_party['diff'] = same_party['voter_percentage_2019'] - same_party['voter_percentage_2014']
    
    same_party_sorted = same_party.sort_values(by='diff', ascending=False)

    return same_party_sorted[['state_2019', 'pc_name', 'party_2019', 'diff']]

df = analyse_votes_diff_of_parties(d1, d2)
df.head(10)

C:\Users\pc\AppData\Local\Temp\ipykernel_9716\44851658.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  same_party['voter_percentage_2019'] = (same_party['total_votes_2019']/ d2.groupby('pc_name')['total_votes'].sum()[same_party['pc_name']].values)* 100
C:\Users\pc\AppData\Local\Temp\ipykernel_9716\44851658.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  same_party['voter_percentage_2014'] = (same_party['total_votes_2014']/ d1.groupby('pc_name')['total_votes'].sum()[same_party['pc_name']].values)* 100
C:\Users\pc\AppData\Local\Temp\ipykernel_9716\44851658.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  same_party['diff'] = same_party['voter_percentage_2019'] - same_party['voter_percentage_2014']

        state_2019              pc_name party_2019       diff
10     West Bengal          Alipurduars        BJP  24.774856
36           Assam  Autonomous District        BJP  22.493807
230     Tamil Nadu        Kanniyakumari        INC  22.190083
351     Puducherry           Puducherry        INC  21.702286
79           Bihar            Bhagalpur      JD(U)  21.560902
385  Uttar Pradesh              Sambhal         SP  21.518279
209          Bihar          Jhanjharpur      JD(U)  21.157116
106      Karnataka        Chikkballapur        BJP  20.153329
160  Uttar Pradesh             Ghazipur        BSP  20.092619
417          Bihar               Supaul      JD(U)  19.475047

In [96]:
def find_top_margin_candidates(dataframe, year):
    # Sort by constituency and total votes in descending order to get the winner and runner-up
    sorted_df = dataframe.sort_values(by=['pc_name', 'total_votes'], ascending=[True, False])
    
    # Group by constituency and take the top 2 candidates (winner and runner-up)
    top_two = sorted_df.groupby('pc_name').head(2)
    
    # Rank within each group to distinguish winner (rank 1) and runner-up (rank 2)
    top_two['rank'] = top_two.groupby('pc_name')['total_votes'].rank(method='first', ascending=False)
    
    # Pivot the dataframe to get winner and runner-up in separate columns
    pivot_df = top_two.pivot(index='pc_name', columns='rank', values=['candidate', 'party', 'total_votes'])
    pivot_df.columns = [f"{x}_{int(y)}" for x, y in pivot_df.columns]

    # Calculate the margin difference
    pivot_df['margin_difference'] = pivot_df['total_votes_1'] - pivot_df['total_votes_2']
    
    # Sort by margin difference and select top 5
    top_margin_candidates = pivot_df.sort_values(by='margin_difference', ascending=False).head(5)
    
    # Add the year for reference
    top_margin_candidates['year'] = year
    
    return top_margin_candidates.reset_index()

In [97]:
top_margin_2014 = find_top_margin_candidates(d1, 2014)
top_margin_2019 = find_top_margin_candidates(d2, 2019)

top_margin_candidates = pd.concat([top_margin_2014, top_margin_2019])
print("Top 5 candidates based on margin difference with runners-up in 2014 and 2019:\n")
print(top_margin_candidates[['pc_name', 'candidate_1', 'party_1', 'total_votes_1', 'candidate_2', 'party_2', 'total_votes_2', 'margin_difference', 'year']])

Top 5 candidates based on margin difference with runners-up in 2014 and 2019:

     pc_name              candidate_1 party_1 total_votes_1  \
0   Vadodara            NARENDRA MODI     BJP        845464
1  Ghaziabad        VIJAY KUMAR SINGH     BJP        758482
2    Navsari              C. R. PATIL     BJP        820831
3     Jaipur         RAMCHARAN BOHARA     BJP        863358
4      Surat  DARSHANA VIKRAM JARDOSH     BJP        718412
0    Navsari              C. R. Patil     BJP        972739
1     Karnal            Sanjay Bhatia     BJP        911594
2  Faridabad              KRISHAN PAL     BJP        913222
3   Bhilwara  SUBHASH CHANDRA BAHERIA     BJP        938160
4   Vadodara          RANJANBEN BHATT     BJP        883719

                     candidate_2 party_2 total_votes_2 margin_difference  year
0       MISTRI MADHUSUDAN DEVRAM     INC        275336            570128  2014
1                     RAJ BABBAR     INC        191222            567260  2014
2                   MAKSUD MIRZA     INC        262715            558116  2014
3               DR. MAHESH JOSHI     INC        324013            539345  2014
4  DESAI NAISHADHBHAI BHUPATBHAI     INC        185222            533190  2014
0    PATEL DHARMESHBHAI BHIMBHAI     INC        283071            689668  2019
1                  Kuldip Sharma     INC        255452            656142  2019
2            AVTAR SINGH BHADANA     INC        274983            638239  2019
3                 RAM PAL SHARMA     INC        326160            612000  2019
4          PRASHANT PATEL (TIKO)     INC        294542            589177  2019

C:\Users\pc\AppData\Local\Temp\ipykernel_9716\3608612341.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_two['rank'] = top_two.groupby('pc_name')['total_votes'].rank(method='first', ascending=False)
C:\Users\pc\AppData\Local\Temp\ipykernel_9716\3608612341.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_two['rank'] = top_two.groupby('pc_name')['total_votes'].rank(method='first', ascending=False)

In [106]:
d1

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282
...,...,...,...,...,...,...,...,...,...,...,...,...
8350,Puducherry,Puducherry,PUVALA NAGESWARA RAO,M,60.0,GEN,IND,Sewing Machine,465,0,465,901357
8351,Puducherry,Puducherry,K. MANJINI,M,41.0,GEN,IND,Coconut,767,0,767,901357
8352,Puducherry,Puducherry,R. VALAVAN,M,40.0,GEN,IND,Carrom Board,497,0,497,901357
8353,Puducherry,Puducherry,V. VIJAYA,F,29.0,GEN,IND,Green Chilli,746,0,746,901357
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,901357

In [112]:
tempo = d1.groupby('party')['total_votes'].sum()
tempo

party
A S P         557
AAAP     11036817
AAMJP        9371
AAP          4380
ABAS          296
           ...
ravp        38992
rdsc        10800
shsap        2982
sps          4870
ssrd         7115
Name: total_votes, Length: 453, dtype: int64

In [113]:
total_for_split = tempo.values.sum()

In [114]:
def calculate_party_vote_percentage(df, year):
    # Group by party and sum total votes
    party_votes = df.groupby('party')['total_votes'].sum().reset_index()
    
    # Calculate total votes cast in the year
    total_votes = party_votes['total_votes'].sum()
    
    # Calculate percentage of votes for each party
    party_votes['percent_votes'] = (party_votes['total_votes'] / total_votes) * 100
    
    # Add year for reference
    party_votes['year'] = year
    
    return party_votes

# Calculate percentage of votes for each party in 2014 and 2019
party_votes_2014 = calculate_party_vote_percentage(d1, 2014)
party_votes_2019 = calculate_party_vote_percentage(d2, 2019)

# Merge the results for comparison
merged_votes = pd.merge(party_votes_2014, party_votes_2019, on='party', suffixes=('_2014', '_2019'))

# Display the results
print("Percent split of votes between parties in 2014 and 2019 at the national level:\n")
print(merged_votes[['party', 'percent_votes_2014', 'percent_votes_2019']])

Percent split of votes between parties in 2014 and 2019 at the national level:

       party  percent_votes_2014  percent_votes_2019
0       AAAP            2.122389            0.442323
1       ABHM            0.005670            0.003822
2       ABJS            0.004019            0.001468
3    ABML(S)            0.011487            0.000843
4       ABMP            0.000207            0.000144
..       ...                 ...                 ...
223    jhspt            0.005216            0.000233
224     kajp            0.000931            0.000218
225     pjdl            0.005513            0.000199
226     ravp            0.007498            0.001483
227     ssrd            0.001368            0.001193

[228 rows x 3 columns]